body {
	background-color: #0F0F0F;
}

.menu li {
	margin-top: 10px; /* 10px - 0,625em */
}

.menu a {
	display: block;
	padding: 10px;

	text-decoration: none;
}

.menu-horizontal  {
	display: table;
	width: 100%;
}

.menu-horizontal li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.top-menu a {
	color: #BFBFBF;
}

.top-menu a:hover {
	color: #FFA905;
}

