@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import "reset.css";
@import "grid.css";
@import "menu.css";

body {
    background-color: #FFFFFF;
    font-family: sans-serif;
}
header {
    background-color: #333;
}
@media screen and (max-width: 768px) {
    .nav ul {
        margin: 10px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .nav li {
        float: none;
        margin-bottom: 20px;
        border-bottom: 1px solid #5F5F5F;
        padding: 3px;
    }
    /*.col-xs-12 .nav li:hover {
	border-bottom: 3px solid #285874; 
	}*/
    
    .nav a {
        text-decoration: none;
        color: #CCCCCC;
    }
    .content .area {
        background-color: #FFFFFF;
    }
    .content h2 {
        margin-bottom: 40px;
        text-align: center;
        font-weight: bolder;
        font-size: 34px;
        color: #262626;
    }
    .main-content {
        padding-top: 30px;
    }
    .site-types {
        min-height: 430px;
    }
    .stype-header-name a {
        text-decoration: none;
        color: #F0595C;
    }
    .stype1,
    .stype2,
    .stype3,
    .stype4 {
        width: 250px;
        min-height: 300px;
        display: inline-block;
        text-align: center;
        border: 1px solid #A2A2A2;
        border-radius: 15px;
    }
    .stype1,
    .stype3 {
        float: right;
    }
    .stype-header {
        margin-bottom: 40px;
        font-size: 30px;
        color: #FF1B1B;
    }
    .stype-footer {
        margin-top: 30px;
        font-size: 40px;
    }
    .about-bubbug {
        margin-top: 40px;
        text-align: left;
        font-size: 24px;
        color: #333;
    }
    .footer {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #333333;
    }
    .footer-menu {
        float: left;
        width: 350px;
        margin-top: 25px;
        min-height: 185px;
    }
    .footer-menu ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }
    .footer-menu li {
        margin-bottom: 5px;
        display: inline;
    }
}