@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import "reset.css";
@import "grid.css";

.wrapper {
    min-width: 200px;
    max-width: 1200px;
}

.header {
    background: #ccc;
}

.content {
    background: green;
}

.sidebar {
    background: red;
}

.footer {
    background: #ccc;
}
