@import url(https://fonts.googleapis.com/css?family=Lora:700&subset=latin,cyrillic);

body {
	margin: 0;
	padding: 0;
	background-color: #FCFCFC;
}



.container {
	width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}

 h2 {
 	font-family: Lora , sans-serif;
	font-size: 35px;
	color: #313131;
}

.main-header {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1B1B1B;
	color: #000000;
	border: 2px solid black;
}

.header-top {
	margin-bottom: 50px;
}

.header-top::after {
	display: table;
	clear: both;
	content: "";
}

.logo {
	float: left;
	width: 180px;

	min-height: 80px;
}

.main-menu {
	float: right;
	width: 680px;
	margin-top: 25px;

	min-height: 30px;

	font-family: Arial,sans-serif;
	font-size: 20px;
}

.main-menu ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

}

.main-menu li {
	display: inline;
	padding: 0 35px;
}

.main-menu a {
	color: #EBEBEB;
	text-decoration: none;
}

.main-menu a:hover {
	border-bottom: 1px solid #FFFFFF;
	text-shadow: 0 0 10px #FFFFFF;
}




.site-types {
	min-height: 430px;	
}

.site-types a {
	text-decoration: none;
}

.stype1, .stype2, .stype3, .stype4 {
	width: 250px;
	min-height: 300px;
	display: inline-block;

	text-align: center;
	border:1px solid #A2A2A2;
	border-radius: 15px;
}

.stype-header {
	margin-bottom: 40px;
	font-size: 30px;
	color: #FF1B1B;
}

.stype-footer {
	margin-top: 30px;
	font-size:40px;

}

.content-text {
	max-width: 800px;
	font-size: 35px;
}

.main-footer {
	padding-top: 95px;
	padding-bottom: 75px;

}

.footer-menu {
	float: left;
	width: 350px;
	margin-top: 25px;

	min-height: 185px;
}

.footer-menu ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

}


.footer-menu li {
	margin-bottom: 5px;
	display: inline;
}

.footer-menu-contacts li {
	list-style-image: url("img/social/e_mail.png");
	display: block;
}

.footer-menu:last-child {
  float: right;
  width: 235px;
}

.footer-bottom {
	margin-top: 45px;
}

.footer-bottom::after {
  display: table;
  clear: both;
  content: "";
}

footer .container {
	border-top: 1px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;
}

.copyright {
	margin-top: 10px;
	float: left;
	width: 500px;
		
}